*{
	box-sizing: border-box;
}

body
{
	overflow-x: hidden;
	overflow-y: hidden;
}

h1
{
	text-transform: uppercase;
	position: relative;
	
}

.videos
{
	position:relative;
	width: 85%;
	height: 100%;
	left: 15%;
	top: 0%;

}

.links
{
	margin: auto;
	background-color: cyan;
	position: absolute;
	left: 0%;
	top: 0%;
	width: 15%;
	height: 100%;
	text-align: center;
	font-size: 20px;
}
.links a
{
	text-decoration: none;
	color: black;
}

.links a:hover
{
	text-transform: uppercase;
	transition: 1.5s;
	color: black;
	opacity: 1.50;
}

.table
{
	position: absolute;
	left: 25%;
	top: 10%;
	border-color: black;
	z-index: 50px;
	width: auto;
    text-align: center;
	border-collapse: collapse;
	transform: translate(10%,10%);
	border: 1px solid #bdc3c7;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);

}
.table tr
{
	transition: 0.2s ease-in;
	cursor: pointer;
}

.table th,td
{
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.table h1
{
	background-color: #128565;
	position: relative;
	top: -21px;
	width: 100%;
	height: 70px;
	text-align: center;
}

.table tr:hover
{
	background-color: #f5f5f5;
	transform: scale(1.02);
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
}

.thead
{
	background-color: #128565;
	position:relative;
	text-align: center;
	width: 100%;
	height: auto;
	left: 0%;
	text-align: center;
	font-size: 25px;
    text-transform: uppercase;
}
.create
{
	position: absolute;
	left: 60%;
	top: 10%;
	color: white;
	background-color: #191919;
	width: 350px;
	height: 190px;
	text-align: center;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
}
.create a
{
	
	border: 0;
	border-radius: 50px;
	background-color: transparent;
	display: block;
	margin: 2px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width: 150px;
	outline: none;
	color: white;
	transition: .5s;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: 10%;
	left: 3%;
}
.create a:hover
{
	background-color: #2ecc71;
}
.heading
{
    font-size: 25px;
}
.del
{
	position: absolute;
	left: 60%;
	top: 40%;
	color: white;
	background-color: #191919;
	width: 350px;
	height: 300px;
	text-align: center;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
	
}

.del input[type="number"]
{
	border: 0;
	border-radius: 50px;
	background-color: transparent;
	display: block;
	margin: 2px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	transition: .5s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.del input[type="submit"]
{
	border: 0;
	border-radius: 50px;
	background-color: transparent;
	display: block;
	margin: 2px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	width: 150px;
	outline: none;
	color: white;
	transition: .5s;
	cursor: pointer;
}
.del input[type="submit"]:hover
{
	background-color: red;
	border-color: red;
}

.del input[type="number"]:hover
{
	border-color: aqua;
}

.del input[type="number"]:focus
{
	width: 280px;
	border-color: #2ecc71;
}

.head2
{
    font-size: 25px;
}